.producTitle{
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0px;
}

.product{
    border: 1px solid #E5E7EB;
    padding: 15px 20px;
    border-radius: 9px;
    width: calc((100% - 24px) / 4);
}

.product .productImage{
    text-align: center;
}

.product h2{
font-size: 13px
}

.priceDiscount {
    color: #DC2626;
    font-size: 25px;
    font-weight: bold;
}

.realPrice {
    color: #111827;
    font-size: 20px;
    text-decoration: line-through;
}
.product .buy{
    background-color: #16A34A;
    padding: 6px 9px 9px 8px;
   border-radius: 8px;
}

.product .status{
    color: #16A34A;
    font-size: 13px;
    font-weight: bold;
}
@media screen and (max-width: 1200px){
    .product{
        width: calc((100% - 24px) / 3);
    }
}
@media screen and (max-width: 992px){
    .product{
        width: calc((100% - 24px) / 2);
    }
}
@media screen and (max-width: 768px){
    .product{
        width: 100%;
    }
}
