.forgetPassword{
    padding: 120px 0px;
}
.forgetPassword p{
    font-size: 13px;
 }
.authentication span{
    font-size: 26px;
    font-weight: bold;
    color: #111827;
   
}


.form{
    width:300px;
    ;
}
.label{
    font-size: 13px;
}

.button{
  background-color:#634C9F ;
  border: 0;
  font-size: 13px;
  padding: 10px 0;
}
.button:hover{
    background-color: #7C3AED;
}
.button:disabled{
    background-color: #9CA3AF;
}