.navbar{
    border-bottom: 1px solid #E5E7EB;
    background-color: #F3F4F6;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.websiteName span:nth-child(1){
    color: #634C9F;
    font-size: 9px;
    position: absolute;
    top: 0px;
    left: 70px;
    font-weight: bold;
}
.websiteName span:nth-child(2){
    color: #111827;
    font-size: 24px;
    font-weight: bold;
}
.location span:nth-child(1){
    color: #6B7280;
    font-size: 11px;
}
.location span:nth-child(2){
    color: #030712;
    font-weight: bold;
    font-size: 13px;
}
.nav a{
    color: #030712;
    font-size: 15px;
    font-weight: bold;
   
}
.login span:nth-child(1){
font-size: 11px;
color:#6B7280 ;
}
.login span:nth-child(2){
    font-size: 13px;
    color:#030712 ;
    font-weight: bold;
}

.cartCount{
position: absolute;
top: -2px;
right: 0px;
background-color: #DC2626;
color: white;
font-size: 10px;
padding: 2px 6.44px;
border-radius: 50%;
}
@media (max-width: 992px){
   .nav{
    gap: 0px !important;
    align-items: flex-start !important;
   }
    .navs{
    align-items: flex-start !important;
   }
   .navs a{
    color: #030712;
    font-size: 15px;
    font-weight: bold;
   }

   .cartCount{
    right: -15px;
    }
}