@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: var(--mainFont);
}

a {
    text-decoration: none;
}

:root {
    --mainFont: 'Inter', sans-serif;
}

.error {
  font-size: 13px;
}

.swiper-button-prev, 
.swiper-button-next{
    color: #634C9F !important;

}
.swiper-button-prev:hover,
.swiper-button-next:hover{
    background-color: #F3F4F6 !important;
}



